@tailwind base;
@tailwind components;
@tailwind utilities;

.sb::-webkit-scrollbar {
  width: 6px;
}
.sb::-webkit-scrollbar-thumb {
  background-color: #f0f9ff;
  border-radius: 20px;
}
.sb::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sbdd::-webkit-scrollbar {
  width: 6px;
}
.sbdd::-webkit-scrollbar-thumb {
  background-color: #d97706;
  border-radius: 20px;
}
/* .sbdd::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
} */
